.page-container {
  position: relative;
  width: 320px;
}
.first-page-style::before {
  content: "";
  display: block;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  width: 320px;
  height: 396px;
  position: relative;
  z-index: 5;
}
.first-page-style::after {
  content: "";
  display: block;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
  width: 258px;
  height: 286px;
  position: absolute;
  z-index: 10;
  top: 109px;
}
.page-container__title {
  font-family: OpenSans Light, Arial, sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-align: center;
  margin: 0px;
  vertical-align: middle;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  width: 320px;
  height: 138px;
  padding-top: 100px;
}
.page-container__text {
  color: #283645;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  background-color: #ffffff;
  padding-top: 39px;
  padding-bottom: 39px;
}
.downloads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1d2631;
  padding-top: 28px;
}
.downloads__link-button {
  font-family: OpenSans Bold, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  width: 216px;
  border: 3px solid #ffffff;
  border-radius: 30px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-left: 20px;
  margin-bottom: 32px;
}
.downloads__link-button:hover {
  background-color: #ffffff;
  color: #d22856;
}
.downloads__link-button:active {
  background-color: #ffffff;
  color: #f6d0da;
}
.downloads__icon-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.downloads__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 30px;
  margin-top: -18px;
}
.downloads__text {
  color: #ffffff;
  font-family: OpenSans Light, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 4px;
  margin-left: 22px;
  margin-bottom: 30px;
  width: 280px;
}
.advantages {
  background-color: #ffffff;
}
.advantages__text-wrapper {
  padding-top: 39px;
}
.advantages__text {
  font-family: OpenSans Light, Arial, sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #283645;
  background-color: #ffffff;
  margin: 0px;
  margin-bottom: 28px;
}
.advantages__list {
  list-style: none;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 66px;
}
.advantages__list::after {
  content: "";
  display: block;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
  width: 157px;
  height: 330px;
  margin: 0 auto;
}
.advantages__title {
  font-size: 18px;
  line-height: 24px;
  font-family: OpenSans Bold, Arial, sans-serif;
  color: #000000;
  text-align: center;
  margin-bottom: 9px;
}
.advantages__descriptions {
  text-align: center;
  font-family: OpenSans Light, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 31px;
  margin-left: 21px;
  width: 244px;
}
.site-list {
  width: 320px;
  font-size: 18px;
  font-family: OpenSans Bold, Arial, sans-serif;
  line-height: 32px;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.site-list__item {
  text-align: center;
  background-color: #283645;
  border: 1px solid #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
          box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
}
.site-list__item a {
  text-decoration: none;
  color: #ffffff;
}
.site-list__item:hover a {
  color: #d22856;
}
.site-list__item:active a {
  opacity: 0.3;
  color: #d22856;
}
.page-nav__header {
  background-color: #283645;
  width: 305px;
  height: 45px;
  padding-left: 15px;
  padding-top: 15px;
}
.page-nav__toggle {
  width: 50px;
  height: 24px;
  position: relative;
  left: 154px;
}
.page-nav__header__logoImage {
  position: relative;
  top: -5px;
  left: 5px;
}
.photo-card-list {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
  margin: 0 auto;
}
.photo-card {
  background-color: #f2f2f2;
  font-family: OpenSans, Arial, sans-serif;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: left;
}
.photo-card__nameUser {
  font-weight: bold;
  font-style: normal;
}
.photo-card__postUser {
  margin-top: 11px;
  margin-left: 18px;
  margin-right: 0px;
}
.photo-card__text {
  margin-top: 0px;
}
.photo-card__timeOnline {
  font-weight: normal;
}
.photo-card__img_panoramaBest {
  position: relative;
  right: 20px;
}
.like-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 19px;
  margin-top: -4px;
  margin-bottom: 20px;
}
.like-account__text {
  font-family: OpenSans, Arial, sans-serif;
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
  margin: 0px;
  margin-left: 10px;
}
.like-account__button {
  color: #d22856;
  display: block;
  background: url("../img/icon-heart.svg") 0% 60% no-repeat;
  width: 20px;
  height: 20px;
  border: none;
}
.photo-card__panoramaBest {
  position: absolute;
  left: 160px;
  z-index: 10;
  display: block;
  width: 140px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #ffffff;
  font-family: OpenSans Bold, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #d22856;
  vertical-align: middle;
}
.page-footer {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.social-list {
  display: inline-block;
  list-style: none;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0px;
  margin-bottom: 49px;
}
.social-list__item {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 44px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}
.social-list__item:hover {
  border: 3px solid #283645;
}
.social-list__item:active {
  opacity: 0.5;
}
.social-list__link {
  position: relative;
  top: 12px;
  left: 16px;
}
.page-footer__infoDeveloper {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 52px;
}
.page-footer__logo {
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 38px;
  margin-top: 40px;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/opensans.woff2"), url("../fonts/opensans.woff");
}
@font-face {
  font-family: "OpenSans Light";
  src: local("OpenSans Light"), url("../fonts/opensanslight.woff2"), url("../fonts/opensanslight.woff");
}
@font-face {
  font-family: "OpenSans Bold";
  src: local("OpenSans Bold"), url("../fonts/opensansbold.woff2"), url("../fonts/opensansbold.woff");
}
body {
  display: block;
  font-family: OpenSans, Arial, sans-serif;
  width: 280px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

/*# sourceMappingURL=style.css.map */
