.advantages {
  background-color: @white-color;
}

.advantages__text-wrapper {
  padding-top: 39px;
}

.advantages__text {
  .font-mixin (@font-light,24px,29px);
  text-align: center;
  color: @text-color;
  background-color: @white-color;
  margin: 0px;
  margin-bottom: 28px;
}

.advantages__list {
  list-style: none;
  background-color: @bg-grey-color;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 66px;

  &::after {
    content: "";
    display: block;
    .bg-image-mixin(iphone-screen-mobile@1x.png);
    .size-mixin(157px,330px);
    margin: 0 auto;
  }
}

.advantages__title {
  .font-mixin(@font-bold,18px,24px);
  color: @black-color;
  text-align: center;
  margin-bottom: 9px;
}

.advantages__descriptions {
  text-align: center;
  .font-mixin(@font-light,14px,24px);
  margin-bottom: 31px;
  margin-left: 21px;
  width: 244px;
}
