.advantages {
  background-color: @white-color;
}

.advantages__text-wrapper {
  padding-top: 39px;
}

.advantages__text {
  font-family: @font-light;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: @text-color;
  background-color: @white-color;
  margin: 0px;
  margin-bottom: 28px;
}

.advantages__list {
  list-style: none;
  background-color: @bg-grey-color;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 66px;

  &::after {
    content: "";
    display: block;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
    width: 157px;
    height: 330px;
    margin: 0 auto;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  font-family: @font-bold;
  color: @black-color;
  text-align: center;
  margin-bottom: 9px;
}

.advantages__descriptions {
  text-align: center;
  font-family: @font-light;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 31px;
  margin-left: 21px;
  width: 244px;
}
