.contacts-info {
  .flex-mixin(@flex-direction: column);
  margin-top: -39px;
  padding: 0 calc(50% - 160px);
}

.contacts-info-ways {
  position: relative;

  padding-left: 0;

  list-style: none;
}

.contacts-info-map {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    z-index: 20;

    .size-mixin(100%;104px);

    .bg-image-mixin("bg-triangle-white-footer.svg");
    background-size: contain;
  }
}

.contacts-info__text {
  width: 320px;
  margin-top: 0;
  margin-bottom: 16px;

  .font-mixin(@font-light;24px;29px);
  text-align: center;
  color: @text-color;

  span {
    display: inline-block;
  }
}

.contacts-info-ways__name {
  .flex-mixin(@flex-direction: column);
  margin-bottom: 17px;
  padding-left: 3px;

  .font-mixin(@font-bold;18px;30px);
  text-align: center;
  color: @text-color;
}

.contacts-info-ways__data {
  .font-mixin(@font-light;24px;30px);
  color: @hover-color;
  text-decoration: none;
}

.contacts-info-ways__data-link:hover {
  color: @text-color;
  text-decoration: underline;
}

.contacts-info-ways__data-link:active {
  color: @text-color;
  text-decoration: none;

  opacity: 0.3;
}

.contacts-info-map iframe {
  .size-mixin(100%;200px);

  border: none;
}

@media (min-width: @tablet-width) {
  .contacts-info {
    align-items: center;

    margin-top: -42px;
    padding: 0 calc(50% - 330px);
  }

  .contacts-info__text {
    width: 370px;
    margin-top: 5px;
    margin-bottom: 23px;
    margin-left: 2px;

    .font-mixin(@font-light;40px;48px);
    color: @text-color;
  }

  .contacts-info-ways {
    .flex-mixin();
    flex-wrap: wrap;
    justify-content: center;
    width: @tablet-width;
    margin-bottom: -17px;
  }

  .contacts-info-ways__name {
    width: 318px;
    margin-bottom: 45px;
  }

  .contacts-info-map::before {
    background-size: 100% 100%;
  }

  .contacts-info-map iframe {
    height: 375px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-info {
    margin-top: -3px;
    padding: 0 calc(50% - 480px);
  }

  .contacts-info-map {
    width: 100%;
    margin-top: -9px;

    &::before {
      .size-mixin(100%;100%);

      background-size: contain;
    }

    iframe {
      .size-mixin(100%;505px);
    }
  }

  .contacts-info-ways__name {
    padding-left: 0;
  }

  .contacts-info__text {
    width: 465px;
    margin-top: -7px;
    margin-bottom: 26px;

    .font-mixin(@font-light;50px;56px);
  }

  .contacts-info-ways {
    width: @desktop-width;
    margin-top: 32px;
  }

  .contacts-info-ways__name:nth-child(2) {
    order: 2;
  }

  .contacts-info-ways__data {
    padding-top: 22px;

    .font-mixin(@font-light;24px;28px);
  }
}
