.downloads {
  display: flex;
  flex-direction: column;
  padding-top: 28px;

  background-color: @bg-downloads-color;
}

.downloads__link-button {
  width: 216px;
  margin-bottom: 32px;
  margin-left: 20px;
  padding-top: 14px;
  padding-right: 29px;
  padding-bottom: 14px;
  padding-left: 29px;

  .font-mixin(@font-bold,18px,18px);
  text-align: center;
  color: @white-color;
  text-decoration: none;

  border: 3px solid @white-color;
  border-radius: 30px;

  &:hover {
    color: @hover-color;

    background-color: @white-color;
  }

  &:active {
    color: lighten(@hover-color, 40%);

    background-color: @white-color;
  }
}

.downloads__icon-list {
  display: flex;
  justify-content: center;

  list-style: none;
}

.downloads__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: -18px;
  margin-right: 30px;
}

.downloads__text {
  width: 280px;
  margin-top: 4px;
  margin-bottom: 30px;
  margin-left: 22px;

  .font-mixin(@font-light,14px,24px);
  text-align: center;
  color: @white-color;
}
