.downloads {
  .flex-mixin(@flex-direction: column);

  width: 320px;
  padding-top: 27px;

  background-color: @bg-downloads-color;
}

.downloads__slogan {
  position: absolute;
  top: -2px;
  left: 11px;
  z-index: 15;

  width: 297px;

  .font-mixin(@font-light,24px,29px);

  text-align: center;
  color: @white-color;
}


.downloads__link-button {
  width: 216px;
  margin-bottom: 32px;
  margin-left: 20px;
  padding-top: 14px;
  padding-right: 29px;
  padding-bottom: 17px;
  padding-left: 29px;

  .font-mixin(@font-bold,18px,18px);
  text-align: center;
  color: @white-color;
  text-decoration: none;

  border: 3px solid @white-color;
  border-radius: 30px;

  &:hover {
    color: @hover-color;

    background-color: @white-color;
  }

  &:active {
    color: lighten(@hover-color, 40%);

    background-color: @white-color;
  }
}

.downloads-list {
  .flex-mixin();
  justify-content: center;
  padding-left: 34px;

  list-style: none;
}

.downloads-list__item {
  .flex-mixin(@flex-direction: column);
  justify-content: flex-end;
  margin-top: -15px;
  margin-right: 34px;
}

.downloads__text {
  width: 280px;
  margin-top: 1px;
  margin-bottom: 30px;
  margin-left: 20px;

 .font-mixin(@font-light,14px,24px);
  text-align: center;
  color: @white-color;
}

@media (min-width: @tablet-width) {
  .downloads__slogan {
    position: relative;
    bottom: 0;

    width: 190px;
    margin-top: 0;
    margin-bottom: 29px;
    padding-left: 66px;

    .font-mixin(@font-light,40px,48px);
  }

  .downloads {
    position: absolute;
    top: 94px;
    left: -1px;
    z-index: 20;

    justify-content: center;
    padding-top: 0;

    background-color: transparent;
  }

  .downloads__link-button {
    width: 242px;
    margin-bottom: 45px;
    margin-left: 21px;
    padding-top: 14px;
    padding-right: 26px;
    padding-bottom: 17px;
    padding-left: 26px;
  }

  .downloads-list {
    padding-left: 53px;
  }

  .downloads__text {
    width: 300px;
    margin-top: 16px;

    .font-mixin(@font-light,18px,24px);
  }
}

@media (min-width: @desktop-width) {
  .downloads {
    top: 220px;
    left: 85px;

    width: 331px;
  }

  .downloads__slogan {
    bottom: 10px;

    width: 235px;
    margin-bottom: 50px;

    .font-mixin(@font-light,50px,60px);
  }

  .downloads__link-button {
    margin-bottom: 66px;
    margin-left: 44px;

    .font-mixin(@font-bold;21px;18px);
  }

  .downloads-list {
    margin-bottom: 34px;
    padding-left: 90px;
  }

  .downloads__text {
    margin-left: 45px;
  }
}
