body {
  display: block;
  // width: 280px;
  // margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

  font-family: @font-normal;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

