.font-mixin (@font-famyly,@font-size,@line-height) {
  font-family: @font-famyly;
  font-size: @font-size;
  line-height: @line-height;
}

.size-mixin (@width,@height) {
  width: @width;
  height: @height;
}
