.header-container {
  width: 320px;
  margin: 0 auto;
}

.page-nav__header {
  .size-mixin(305px,45px);

  padding-top: 15px;
  padding-left: 15px;

  background-color: @main-color;

  // opacity: 0.3;
}

.page-nav__toggle {
  position: relative;
  left: 154px;

  .size-mixin(50px,24px);
}

.page-header__logo-image {
  position: relative;
  top: -5px;
  left: 5px;
}

@media (min-width: @tablet-width) {
  .header-container {
    width: 660px;
    margin: 0 auto;
  }

  .page-nav__header {
    .size-mixin(645px,110px);
    padding-top: 0;
  }

  .page-nav__toggle {
    top: 45px;
    left: 450px;
  }

  .page-header__logo-image {
    top: 45px;
  }

  .page-header__logo {
    position: relative;
    top: 45px;
  }
}

@media (min-width: @desktop-width) {
  .header-container {
    width: 1200px;
    margin: 0 auto;
  }

  .page-nav__toggle {
    display: none;
  }

  .page-nav__header {
    position: absolute;
    top: 50px;
    left: 125px;
    z-index: 25;


    .size-mixin(@desktop-width,110px);
    padding-top: 0;

    background-color: transparent;
  }
}
