.page-footer_first-page {
  display: none;
}

.page-footer {
  .flex-mixin(@flex-direction: column);
  align-items: center;
  width: 320px;
  margin: 0 auto;
}

.page-footer__icon {
  position: relative;

  .size-mixin(40px;44px);

  &:hover path {
    fill: @black-color;
  }

  &:active path {
    opacity: 0.3;

    fill: @black-color;
  }
}

.social-list {
  .flex-mixin();
  justify-content: space-between;
  width: 175px;
  margin-right: 10px;
  margin-bottom: 23px;
  padding-left: 0;

  list-style: none;
}

.social-list__item {
  .flex-mixin();
  justify-content: center;
  align-items: center;

  .size-mixin(44px,44px);

  border: 3px solid @light-text-color;
  border-radius: 50%;

  &:hover {
    border: 3px solid @text-color;
  }

  &:active {
    opacity: 0.5;
  }
}

.social-list__link {
  margin-left: 3px;
}

.page-footer__info-developer {
  position: relative;
  top: 10px;
  right: -4px;

  .flex-mixin();
  align-items: center;
  margin-bottom: 52px;

  .font-mixin(@font-normal,14px,18px);
}

.page-footer__icon {
  position: relative;
  top: 3px;
  right: 1px;

  margin-left: 10px;

  path {
    fill: @hover-color;
  }
}

.page-footer__logo {
  align-self: center;
  margin-top: 40px;
  margin-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .page-footer_first-page {
    display: block;
    width: @tablet-width;
    margin: 0 auto;
  }

  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    margin-top: 0;
    padding-top: 26px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  .page-footer__logo {
    margin-top: 0;
    margin-bottom: 0;
  }

  .social-list {
    .flex-mixin();

    margin-bottom: 0;
  }

  .page-footer__info-developer {
    top: 9px;
    left: 9px;

    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    justify-content: space-between;
    width: 940px;
    padding-bottom: 3px;
  }

  .page-footer_first-page {
    width: @desktop-width;
    margin-top: -23px;
  }

  .page-footer__info-developer {
    top: 4px;
    left: 11px;

    .font-mixin(@font-normal,18px,30px);
  }

  .page-footer__icon {
    top: 6px;
    right: 1px;
  }

  .social-list {
    margin-top: 6px;
    margin-left: 22px;
  }
}
