.main-contaiter {
  width: 320px;
  margin: 0 auto;
}

.page-container {
  position: relative;
  .flex-mixin(@flex-direction:column);
  align-items: center;
}

.first-page-style::before {
  content: " ";
  position: relative;
  z-index: 5;

  display: block;
  .size-mixin(320px,396px);
  margin-bottom: -1px;

  .bg-image-mixin("bg-back-mobile@1x.jpg");
  background-position: 50% 101%;
}

.first-page-style::after {
  content: " ";
  position: absolute;
  top: 109px;
  left: 0;
  z-index: 10;

  display: block;
  .size-mixin(258px,286px);

  .bg-image-mixin("iphone-hand-mobile@1x.png");
}

.page-container__title-wrapper {
  .size-mixin(320px,170px);
  margin: 0;
  .flex-mixin();
  justify-content: center;

  .font-mixin(@font-light,24px,29px);

  .bg-image-mixin("bg-back-mobile@1x.jpg");
  background-position: 0% 23%;
}

.page-container__title {
  .font-mixin(@font-light,24px,29px);
  font-weight: 400;
  color: @white-color;
  text-align: center;
  width: 200px;
  padding-top: 13px;
}

.page-container__text {
  padding-top: 31px;
  padding-bottom: 35px;

  .font-mixin(@font-normal,14px,30px);
  color: @text-color;
  text-align: center;
  align-self: center;
  width: 245px;

  background-color: @white-color;

  span {
    display: none;
  }
}


@media (min-width: @tablet-width) {
  .main-contaiter {
    width: 660px;
    margin: 0 auto;
  }

  .page-container {
    width: @tablet-width;
  }

  .first-page-style::before {
    .size-mixin(660px,618px);

    background-position: 50% 100%;

    .bg-image-mixin("bg-back-tablet@1x.jpg");
  }

  .first-page-style::after {
    top: 72px;
    left: -20px;

    .size-mixin(657px,545px);

    .bg-image-mixin("iphone-hand-tablet@1x.png");
  }

  .page-container__title-wrapper {
    .size-mixin(660px,329px);


    .bg-image-mixin("bg-back-tablet@1x.jpg");
    background-position: 50% 28%;
  }

  .page-container__title {
    .font-mixin(@font-light,50px,60px);
    text-align: center;
    width: 354px;
    padding-top: 36px;
  }

  .page-container__text {
    width: 500px;
    padding-top: 74px;
    margin-bottom: 41px;

    .font-mixin(@font-normal,18px,30px);

    span {
      display: block;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-contaiter {
    width: 1200px;
    margin: 0 auto;
  }

  .page-container {
    width: @desktop-width;
    margin-bottom: 61px;
  }

  .first-page-style::before {
    .size-mixin(1200px,854px);

    .bg-image-mixin("bg-back-desktop@1x.jpg");
    background-size: cover;
  }

  .first-page-style::after {
    top: 210px;
    left: 146px;

    .size-mixin(1050px,645px);

    .bg-image-mixin("iphone-hand-desktop@1x.png");
  }

  .page-container__title-wrapper {
    .size-mixin(1200px,395px);

    .bg-image-mixin("bg-back-desktop@1x.jpg");
  }

  .page-container__title {
    width: 300px;
  }

  .page-container__text {
    width: 620px;
    margin-bottom: 53px;
  }
}
