.page-container {
  position: relative;
  width: 320px;
}

.first-page-style::before {
  content: "";
  display: block;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  .size-mixin(320px,396px);
  position: relative;
  z-index: 5;
}

.first-page-style::after {
  content: "";
  display: block;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
  .size-mixin(258px,286px);
  position: absolute;
  z-index: 10;
  top: 109px;
}

.page-container__title {
  .font-mixin(@font-light,24px,29px);
  font-weight:400;
  color: @white-color;
  text-align: center;
  margin: 0px;
  vertical-align: middle;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  .size-mixin(320px,138px);
  padding-top: 100px;
}

.page-container__text {
  color: @text-color;
  .font-mixin (@font-normal,14px,30px);
  text-align: center;
  background-color: @white-color;
  padding-top: 39px;
  padding-bottom: 39px;
}
