.page-nav__header {
  height: 45px;
  padding: 0 calc(50% - 160px);
  padding-top: 11px;
  padding-bottom: 5px;

  background-color: @main-color;
}

.page-nav__toggle-img {
  display: none;
}

.page-nav__toggle {
  position: relative;
  left: 174px;

  background-color: transparent;
  border: none;
}

.page-nav__logo-image {
  position: relative;
  top: 2px;
  left: 19px;
}

.site-logo__image {
  position: relative;
  left: 20px;
  top: 2px;
}

@media (min-width: @tablet-width) {
  .page-nav__header {
    height: 110px;
    padding: 0 calc(50% - 330px);
    padding-right: 0;
  }

  .page-nav__toggle {
    top: 28px;
    left: 442px;
  }

  .page-nav__logo-image {
    top: 27px;

    .size-mixin(150px;40px);
  }

  .site-logo__image {
    .size-mixin(150px;40px);
  }

  .page-header__logo {
    position: relative;
    top: 27px;
    left: 4px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: absolute;
    z-index: 25;

    .size-mixin(100%;110px);

    background-color: @bg-blue;
  }

  .page-nav {
    padding-top: 50px;
  }

  .page-header__container {
    width: 960px;
    margin: 0 auto;
  }

  .page-nav__toggle {
    display: none;
  }

  .page-nav__header {
    padding-top: 0;
    padding-left: 0;

    background-color: transparent;
  }

  .page-nav__logo-image {
    top: -23px;
    left: 6px;
  }

  .page-header__logo {
    top: -23px;
    left: 67px;
  }

  .site-logo__image {
    left: -60px;
    top: -3px;
  }
}
