.photo-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;

  background-color: @white-color;
}

.photo-card {
  margin-bottom: 20px;

  .font-mixin(@font-normal,14px,24px);
  text-align: left;

  background-color: @bg-grey-color;
}

.photo-card__name-user {
  font-style: normal;
  font-weight: 700;
}

.photo-card__post-user {
  margin-top: 11px;
  margin-right: 0;
  margin-left: 18px;
}

.photo-card__text {
  margin-top: 0;
}

.photo-card__time-online {
  font-weight: 400;
}

.photo-card_best {
  align-self: center;
  width: 280px;

  .photo-card__img_wrapper {
    position: relative;
    right: 20px;

    width: 320px;
  }
}

.like-account {
  display: flex;
  margin-top: -4px;
  margin-bottom: 20px;
  margin-left: 19px;
}

.like-account__text {
  margin: 0;
  margin-left: 10px;

  .font-mixin(@font-normal,12px,24px);
  color: @hover-color;
}

.like-account__button {
  display: block;
  .size-mixin(20px,20px);


  .bg-image-mixin("icon-heart.svg");
  background-color: transparent;
  background-position: 0 60%;
  border: none;
}

.photo-card__panorama-best {
  position: absolute;
  left: 160px;
  z-index: 10;

  display: block;
  width: 140px;
  padding-top: 6px;
  padding-bottom: 6px;

  .font-mixin(@font-bold,12px,24px);
  vertical-align: middle;
  text-align: center;
  color: @white-color;
  text-transform: uppercase;

  background-color: @hover-color;
}

@media (min-width: @tablet-width) {
  .photo-card-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: @tablet-width;
  }

  .photo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }

  .photo-card_best {
    width: @tablet-width;
  }

  .like-account {
    flex-direction: row-reverse;
  }

  .like-account__button {
    margin-left: 140px;
  }

  .photo-card__post-user {
    width: 245px;
    min-height: 85px;
    margin-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .photo-card-list {
    width: 940px;
  }

  .photo-card_best {
    width: 940px;
  }
}
