.photo-post {
  .flex-mixin(@flex-direction: column);
  align-items: center;
  width: 320px;

  background-color: @bg-grey-color;
}

.photo-post__img {
  position: relative;
  left: 18px;

  margin-top: 19px;
  margin-bottom: 21px;
}

.photo-post-editor {
  .flex-mixin();
  justify-content: space-around;
  align-items: center;
  width: 240px;
  margin-bottom: 34px;
  padding-left: 32px;

  list-style: none;
}

.photo-post-editor__img {
  fill: @color-img-editor;
}

.photo-post__editor-wrapper {
  width: inherit;
}

.photo-post-editor__img_active {
  fill: @hover-color;
}

.photo-post__button {
  width: 277px;
  margin-bottom: 14px;
  margin-left: 20px;
  padding-top: 14px;
  padding-right: 36px;
  padding-bottom: 15px;
  padding-left: 36px;

  .font-mixin(@font-bold,18px,18px);
  text-align: center;
  color: @hover-color;

  background-color: @white-color;
  border: 3px solid @hover-color;
  border-radius: 30px;

  &:hover {
    color: @white-color;

    background-color: @hover-color;
  }

  &:active {
    color: @white-color;

    background-color: @hover-color;
  }

  &:active span {
    opacity: 0.3;
  }
}

.photo-post__button_cancel {
  margin-bottom: 41px;

  color: @black-color;

  border: 3px solid @black-color;
  opacity: 0.1;

  &:hover {
    color: @black-color;

    background-color: transparent;
    opacity: 0.2;
  }

  &:active {
    background-color: @black-color;
    opacity: 0.2;
  }

  &:active span {
    opacity: 0.3;
  }
}

.photo-post-editor-range {
  .flex-mixin();
  justify-content: center;
  margin-bottom: 74px;
}

.photo-post-editor-range_mobile {
  display: none;
}

.photo-post-editor-range .photo-post-editor-bar {
  .size-mixin(238px;2px);

  background-color: @text-color;
}

.photo-post-editor-toggle-btn {
  position: relative;
  bottom: 6px;
  left: 190px;

  display: block;
  .size-mixin(10px;10px);

  background-color: @bg-grey-color;
  border: 2px solid @hover-color;
  border-radius: 50%;
}

.photo-post__text-wrapper {
  width: 320px;
  padding-bottom: 7px;

  background-color: @white-color;
}

.photo-post-text {
  width: 260px;
  margin: 0 auto;
  padding-top: 0;
  padding-right: 4px;
}

@media (min-width: @tablet-width) {
  .photo-post {
    width: @tablet-width;
  }

  .photo-post__form {
    width: 302px;
  }

  .photo-post__text-wrapper {
    .flex-mixin(@flex-direction: column);

    width: @tablet-width;
    padding-top: 21px;
    padding-bottom: 68px;
  }

  .photo-post-text {
    width: 433px;
    margin: 0;
    padding: 0;

    text-align: center;
  }

  .photo-post__img {
    left: -2px;

    .size-mixin(300px;400px);
    margin-top: 57px;
    margin-left: 10px;
  }

  .photo-post__editor-wrapper {
    .flex-mixin();
    justify-content: space-around;
    width: inherit;

    background-color: @bg-grey-color;
  }

  .photo-post-editor-range_tablet {
    display: none;
  }

  .photo-post-editor-range_mobile {
    display: block;
  }

  .photo-post-editor {
    .flex-mixin(@flex-direction: column);

    margin-top: 50px;
    margin-bottom: 58px;
  }

  .photo-post-editor li {
    .flex-mixin();

    width: 278px;
    margin-bottom: 9px;
    padding-top: 15px;
    padding-bottom: 22px;

    border-bottom: 2px solid darken(@bg-grey-color, 5%);
  }

  .photo-post-editor__img svg {
    .size-mixin(25px;25px);
    margin-right: 27px;
    padding-left: 8px;

    fill: @hover-color;
  }

  .photo-post-editor-range {
    margin-bottom: 0;
    padding-top: 7px;
  }

  .photo-post-editor-range .photo-post-editor-bar {
    .size-mixin(204px;2px);
    margin-top: 4px;
  }

  .photo-post-editor-toggle-btn {
    position: relative;
    bottom: 5px;

    &_first-editor {
      left: 147px;
    }

    &_second-editor {
      left: 26px;
    }

    &_third-editor {
      left: 99px;
    }
  }

  .photo-post__button {
    width: 261px;
    margin-bottom: 26px;
    padding-left: 31px;
  }

  .photo-post__button_cancel {
    margin-bottom: 54px;
  }
}

@media (min-width: 660px) and (max-width: 1199px) {
  .photo-post-editor__img svg {
    .size-mixin(25px;25px);
    margin-right: 27px;
    padding-left: 8px;

    fill: @hover-color;
  }

  .photo-post-editor li:last-child {
    padding-bottom: 28px;
  }

  .photo-post-editor__img:last-child svg {
    .size-mixin(16px;16px);
    padding-left: 14px;
  }

  .photo-post-editor__img:last-child .photo-post-editor-bar {
    margin-top: 1px;
  }
}

@media (min-width: @desktop-width) {
  .photo-post {
    width: 940px;
    margin-top: -20px;
    margin-bottom: 9px;
  }

  .photo-post__form {
    width: 345px;
  }

  .photo-post__text-wrapper {
    width: 940px;
    padding-top: 1px;
    padding-bottom: 66px;
  }

  .photo-post__img {
    margin-bottom: 54px;
  }

  .photo-post-editor {
    margin-top: 41px;
  }

  .photo-post-editor li {
    width: 410px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 12px;
  }

  .photo-post-editor-range {
    padding-top: 20px;
  }

  .photo-post__button {
    width: 180px;
    margin-bottom: 0;
    padding-left: 37px;
  }

  .photo-post-editor__img svg {
    .size-mixin(44px;44px);
    margin-right: 48px;
    padding-left: 0;
  }

  .photo-post-editor li:last-child {
    padding-bottom: 19px;
  }

  .photo-post-editor__img:last-child svg {
    margin-right: 53px;
    padding-left: 5px;

    .size-mixin(34px;34px);
  }

  .photo-post-editor__img:last-child .photo-post-editor-bar {
    margin-top: -1px;
  }

  .photo-post-editor-range .photo-post-editor-bar {
    width: 286px;
    margin-top: 0;
  }

  .photo-post__button-wrapper {
    position: relative;
    top: 88px;
    right: 71px;

    .flex-mixin();
    justify-content: space-between;
    width: 428px;
  }
}
