.site-list {
  width: 320px;
  margin: 0;
  padding-left: 0;

  .font-mixin(@font-bold,18px,32px);
  text-transform: uppercase;

  list-style: none;
}

.site-list__item {
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;

  background-color: @main-color;
  border: 1px solid @black-color;
  box-shadow: inset 0 1px 0 0 @light-white;

  a {
    color: @white-color;
    text-decoration: none;
  }
}

.site-list__item:hover a {
  color: @hover-color;
}

.site-list__item:active a {
  color: @hover-color;

  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .site-list {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    position: relative;
    top: 78px;
    left: 351px;
    z-index: 25;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 720px;

    .font-mixin(@font-normal,18px,18px);
    text-transform: none;
  }

  .site-list__item {
    margin-left: 80px;

    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .site-list__item:active a {
    color: @white-color;
    opacity: 0.3;
  }

  .site-list__item_active {
    border-bottom: 1px solid @white-color;
  }
}
