.user-review {
  .flex-mixin(@flex-direction:column);
  align-items: center;
  position: relative;
  bottom: 68px;
  padding-top: 26px;
  z-index: 15;
  background-color: @white-color;

  &::after {
    content: "";
    .bg-image-mixin("bg-triangle-white.svg");
    .size-mixin(322px;104px);
    position: absolute;
    top: 284px;
    z-index: 20;
  }
}

.user-review__post {
  .flex-mixin(@flex-direction:column);
  margin-bottom: 26px;
}

.user-review__name-user {
  .font-mixin(@font-bold;18px;30px);
  color: @black-color;
  font-style: normal;
  align-self: center;
}

.user-review__data {
  display: none;
}

.user-review__text {
  width: 280px;
  .font-mixin(@font-normal;14px;30px);
  color: @text-color;
  text-align: center;
  margin-bottom: 0;
}

.user-review__btn-arrow {
  display: none;
}

.slider-review {
  .flex-mixin();
  list-style: none;
  align-items: center;
  padding: 0;
  margin-top: 0;
  margin-left: 15px;
  z-index: 25;

  li {
    margin-right: 18px;
  }

  &-btn {
    .size-mixin(6px;6px);
    border-radius: 50%;
    background-color: @light-black;
    border: none;
    padding: 0;

    &_active {
      .size-mixin(11px;11px);
      background-color: @white-color;
      border: 3px solid @text-color;
    }

    li {
      margin-right: 5px;
    }
  }
}

.slider-review-btn:hover:not(.slider-review-btn_active) {
  background-color: @color-over-slider;
}

.slider-review-btn:active:not(.slider-review-btn_active) {
  background-color: @color-over-slider;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .user-review__text {
    width: 639px;
    .font-mixin(@font-normal;18px;30px);
    order: 0;
    margin-bottom: 34px;
    margin-top: -5px;
  }

  .user-review__name-user {
    order: 1;
    .font-mixin(@font-bold;20px;30px);
  }

  .user-review__data {
    display: block;
    .font-mixin(@font-normal;14px;30px);
    color: @text-color;
    text-align: center;
    margin-top: 3px;
    order: 1;
  }

  .user-review::after {
    width: 662px;
    top: 248px;
  }
}

@media (min-width: @desktop-width) {
  .slider-review {
    display: none;
  }

  .user-review {
    padding-top: 4px;

    &::before {
      content: "";
      display: block;
      position: relative;
      bottom: 55px;
      left: 4px;
      .size-mixin(79px;65px);
      .bg-image-mixin ("icon-quotes.svg");
    }
  }

  .user-review__btn-arrow {
    display: block;

    svg {
      fill: @light-black;
    }

    &:hover svg {
      fill: @color-over-slider;
    }

    &:active svg {
      fill: @color-over-slider;
      opacity: 0.3;
    }
  }

  .user-review__btn-arrow-left {
    position: absolute;
    left: -56px;
    top: 87px;
  }

  .user-review__btn-arrow-right {
    position: absolute;
    right: -73px;
    bottom: 142px;
  }

  .user-review__text {
    width: 690px;
  }

  .user-review__post {
    margin-top: 0;
  }

  .user-review__name-user {
    .font-mixin(@font-bold;24px;30px);
  }

  .user-review__data {
    .font-mixin(@font-normal;18px;30px);
  }
}
