@font-normal: OpenSans,Arial,sans-serif;
@font-light: OpenSans Light, Arial, sans-serif;
@font-bold: OpenSans Bold,Arial, sans-serif;
@white-color: rgb(255, 255, 255);
@main-color: #283645;
@black-color: #000000;
@border-color:#e5e5e5;
@hover-color: rgb(210, 40, 86);
@light-white: rgba(255, 255, 255, 0.4);
@light-black: rgba(0,0,0,0.3);
@bg-downloads-color: #1d2631;
@bg-grey-color: #f2f2f2;
@text-color: rgb(40, 54, 69);
@light-text-color: rgba(40, 54, 69, 0.1);
@tablet-width: 660px;
@desktop-width: 1200px;
@bg-green-color: #2aab6d;
@bg-darken-green:#1c9b5e;
@color-img-editor: #b5b9be;
@color-over-slider: #7e868f;
@bg-blue: rgba(23, 31, 39, 0.5);
